<body>
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="panel">
         <img class="pic img-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User photo"/>
         <div class="username">Nickname</div>
        </div>
     </div>
     </div>
     <div class="row">
       <div class="col-md-3">
     <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Profile menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Edit profile</a></li>
          </ul>
        </div>
      </div>
  </div>
     </div>
     <div class="col-md-9">
<!--        <span class="profile-item-header"> Edit profile:</span> -->
        <div class="edit-profile">
        <%= simple_form_for(current_user, url: student_profile_path(current_user), html: { method: :put })   do |f| %>
        <%= f.input :name, label: 'Nickname' , placeholder: 'Write your Nickname here' %>
        <%= f.input :school, label: 'School' , placeholder: 'Write your School here' %>
        <%= f.input :interests, label: 'Interests' , placeholder: 'Write your Interests here' %>
        <%= f.input :photo, as: :attachinary%>
        <% if @product.photo? %>
          <%= cl_image_tag @product.photo.path, width: 200, height: 300, crop: :fill %>
        <% end %>
        <%= f.button :submit %>
        <%end %>
       </div>
   </div>
  </div>
</body>
