<div class="backpic"></div>
<div class="container-fluid outerbox">
<!--   <div class="row">
    <div class="col-sm-12 mainmoto">
      CURIOUS MIND
    </div>
  </div> -->

  <div class="row content stmanage">
      <div class="col-sm-4 col-xs-6 sidenavbar">
        <h4 class="nickname text-center"><%= current_user.name %></h4>
        <p><%= image_tag 'kid.jpg', class: 'stavatar-large'%></p>
        <ul class="nav nav-pills navbar-stacked">
          <li>
            <%= link_to 'Start new Challenge', student_challenges_path, class:"btn sidebar" %>
          </li>

          <li>
            <%= link_to 'History and Progress', history_student_profile_path, class:"btn sidebar" %>
          </li>
          <li>
            <%= link_to 'Edit profile', edit_student_profile_path, class:"btn sidebar" %>
          </li>
        </ul><br>
      </div>

      <div class="col-sm-8 col-xs-6 listnotdone">
          <div class="coursesnotdone-wrapper text-center">
              <div id="data">
                  <h2 class = "unfinished">Playground</h2>
                  <table class="table table-striped">
                    <thead>
                      <td>Challenge</td>
                      <td>Teacher</td>
                      <td>Progress</td>
                    </thead>
                    <tbody class="split" >
                      <% @unfinished_quests.each do |quest| %>
                        <tr>
                          <td class = "celltwo"> <%= quest.challenge.title %></td>
                          <td class = "celltwo"> <%= quest.challenge.teacher.name %> </td>
                          <td class = "celltwo"> <%= quest.correct_percentage %>% </td>
                        </tr>
                        <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

