<div class="container-fluid outerbox">
  <div class="row content stmanage">
      <div class="col-sm-3 sidenavbar">
        <h4 class="nickname text-center"><%= current_user.name %></h4>
        <p><%= image_tag 'kid.jpg', class: 'stavatar-large'%></p>
        <ul class="nav nav-pills navbar-stacked">
          <li>
            <%= link_to student_challenges_path do %>
            <button class="btn sidebar"> Start new Challenge </button>
            <%end%>
          </li>

          <li>
            <%= link_to student_challenges_path do %>
            <button class="btn sidebar"> History and Progress </button>
            <%end%>
          </li>
          <li>
            <%= link_to edit_student_profile_path do %>
            <button class="btn sidebar"> Edit profile</button>
            <%end%>
          </li>
        </ul><br>
      </div>

      <div class="col-sm-9">
          <div class="coursesnotdone-wrapper text-center">
              <div id="data">
                  <h2 class = "sky">Not finished courses</h2>
                  <table class="table table-striped">
                    <tr>
                      <td>Challenge</td>
                      <td>Teacher</td>
                      <td>Progress</td>
                    </tr>
                  </table>

                  <!-- <table class="tableone">
                    <thead>
                      <tr>
                        <th class = "cellone">Course name</th>
                        <th class = "cellone">Teacher</th>
                        <th class = "cellone">Progress</th>
                      </tr>
                    </thead>

                      <% @quest = Quest.where(student: current_user, challenge: @challenge, status: "submitted") %>
                      <%= @quest.each do |quest| %>
                    <tbody class="split" >
                        <tr>
                          <td class = "celltwo"> <%= quest.current_user.name %></td>
                          <td class = "celltwo"> <%= quest.challenge.teacher_id %> </td>
                          <td class = "celltwo"> <%= quest.correct_percentage %> </td>
                        </tr>
                        <% end %>
                    </tbody>
                  </table> -->
              </div>
          </div>
        </div>

      </div>
  </div>
</div>
