<div class="sign text-center">

  <h2 class="signup-title">Complete this form to enter into Curious Minds</h2>
 <div class="wrapper">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs text-center">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-check text-center">
      <%= f.input :teacher, as: :boolean, label: "I am a teacher" %>
    </div>

    <div class="form-check text-center">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        Agree to terms and conditions
      </label>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-success" %>
    </div>
  <% end %>


  <%= render "devise/shared/links" %>
  </div>
</div>
