<div class="section-background"></div>

<div class="container-fluid section-manager">
  <div class="row content">
      <div class="col-sm-4 col-xs-6 sidenavbarB">
        <h4 class="nickname text-center"><%= current_user.name %></h4>
        <p><%= image_tag 'kid.jpg', class: 'avatar-picture'%></p>
        <ul class="nav nav-pills navbar-stacked">
          <li>
            <%= link_to 'Playground', student_profile_path, class:"btn sidebar" %>
          </li>

          <li>
            <%= link_to 'History and Progress', history_student_profile_path, class:"btn sidebar" %>
          </li>
        </ul><br>
      </div>

      <div class="col-sm-8 col-xs-6 listnotdone">
          <div class="coursesnotdoneB-wrapper text-center">
              <div id="data">
                  <h2 class="emperor">Start a new challenge</h2>
                  <table class="table table-striped intable">
                    <thead class="headersB">
                      <td class="headerB">Title</td>
                      <td class="headerB">Description</td>
                      <td class="headerB">Difficulty</td>
                      <td class="headerB">Category</td>
                    </thead>
                    <tbody class="split" >
                          <% @challenges.each do |challenge| %>
                          <tr>
                            <td class = "celltwo"><%= link_to student_challenge_path(challenge) do %>
                              <%= challenge.title %>
                              <% end %>
                            </td>
                            <td class = "celltwo"><%= challenge.description %></td>
                            <td class = "celltwo"><%= challenge.difficulty %></td>
                            <td class = "celltwo"><%= challenge.category %></td>
                          </tr>
                        <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
