<div class="wrapper text-center">

<h2>Start a new challenge</h2>

<div class="text-center form-inline search-bar">
  <%= form_tag(student_challenges_path, method: "get") do %>
  <%= label_tag(:category, "Search for:", class: "form-el") %>
  <%= text_field_tag(:category, nil, placeholder: "Category", class: "form-el") %>
  <%= submit_tag("Search", class: "form-el") %>
  <% end %>
</div>

  <table class="table table-striped ">
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Difficulty</td>
      <td>Category</td>
    </tr>

  <% @challenges.each do |challenge| %>
      <tr>
      <td><%= link_to student_challenge_path(challenge) do %>
      <%= challenge.title %>
        <% end %>
      </td>
      <td><%= challenge.description %></td>
      <td><%= challenge.difficulty %></td>
      <td><%= challenge.category %></td>
      </tr>
  <% end %>
</table>
<%= link_to "Back", student_profile_path, class: "btn btn-primary" %>
</div>
