<div class="section-background section-background-challenges"></div>

<div class="section-manager">
  <div class="row">
      <div class="col-sm-4">
        <%= render 'shared/sidenavbar' %>
      </div>

      <div class="col-sm-8">
        <h2 class="emperor">Start a new Challenge</h2>
        <div class="listnotdone">
          <div class="coursesnotdone-wrapper text-center">
              <div id="data">
                  <table class="table table-striped intable">
                    <thead class="headersA">
                      <td class="headerA">Title</td>
                      <td class="headerA">Description</td>
                      <td class="headerA">Difficulty</td>
                      <td class="headerA">Category</td>
                    </thead>
                    <tbody class="split" >
                          <% @challenges.each do |challenge| %>
                          <tr>
                            <td class = "celltwo"><%= link_to student_challenge_path(challenge) do %>
                              <%= challenge.title %>
                              <% end %>
                            </td>
                            <td class = "celltwo"><%= challenge.description %></td>
                            <td class = "celltwo"><%= challenge.difficulty %></td>
                            <td class = "celltwo"><%= challenge.category %></td>
                          </tr>
                        <% end %>
                    </tbody>
                  </table>
              </div>
          </div>

        </div>
      </div>
  </div>
</div>
