<div class="section-sidenavbar section-sidenavbar-student">
  <%= image_tag 'kid.jpg', class: 'avatar-picture'%>
  <h4 class="nickname text-center"><%= current_user.name %></h4>
  <ul class="nav">
    <li>
      <%= link_to 'Start new Challenge', student_challenges_path, class:"btn btn-block btn-default btn-success btn-shadow" %>
    </li>
    <li>
      <%= link_to 'History and Progress', history_student_profile_path, class:"btn btn-block btn-default" %>
    </li>
    <li>
      <%= link_to 'Edit profile', edit_student_profile_path, class:"btn btn-block btn-default" %>
    </li>
  </ul>
</div>





