<div class= "homepage">

  <div class="homepage-hero-banner">
    <p>
      A curious mind loves <strong>learning</strong> & <strong>playing</strong>.<br>
      A little curious like new technologies and wants to improve his mind.
    </p>
    <h2 id="moto">
      <span id="grey-part">Are you a</span> Curious Mind <span id="grey-part">?</span>
    </h2>


    <%= image_tag 'animated-zeplin.png', class: 'home-zeplin' %>
    <%= link_to 'I’m new', new_user_registration_path, class: 'btn btn-sm btn-default btn-shadow button-new' %>

    <% if user_signed_in? %>
      <%= link_to 'Let’s play', student_profile_path, class: 'btn btn-lg btn-success btn-shadow' %>
    <% else %>
      <%= link_to 'Let’s play', new_user_session_path, class: 'btn btn-lg btn-success btn-shadow' %>
    <% end %>


  </div>


  <header class="topscreen">
    <div class="header-content">
      <div class="header-content-inner">
      </div>
    </div>
  </header>

  <!-- Intro Section -->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2 class="section-heading">Information to parents</h2>
          <p class="text-light"> Curious Minds is a platform created by students @ Le Wagon Brussels, to provide a creative way for students to enter the world of computer sciences through challenges. All the challenges are provided from professional teachers.</p>
          <p class="text-light">We’re deeply committed to creating a <strong>safe</strong> and <strong>secure</strong> learning environment for our students and teachers. We take the protection of personal informations seriously. <strong>We do not sell your personal information</strong> or exploit it for financial gain. And, by the way, we don't sell ads.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="home-content text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="well">
            <h2 class="section-header"> Be a computer expert</h2>
            <p class="lead">Give the chance to yourself to improve your skills in your free time with the most creative and funny way!</p>
            <p class="lead">Join us, click on <%= link_to new_user_registration_path do %>
            <%= image_tag 'logo_home.png', class: 'homepage-logo' %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'shared/footer' %>
</div>
