<% @question = Question.find(params[:id]) %>
<div class="desk">
<div class="card">
  <div class="card-front">
    <div class="clickable-surface">
      <h1 class="title-card"><%= @question.title %></h1>
    </div>
  </div>
  <div class="card-back">
    <div class="card-input">
      <%= simple_form_for [:student, @quest, @question, @effort] do |f| %>
        <%= f.input_field :content, class: "input-field" %>
        <%= f.button :submit, 'Answer', class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="clickable-surface">

    </div>
  </div>
</div>


<%= link_to 'Save and Quit', submit_student_quest_path(@quest), method: :patch, class: "btn-save" %>

</div>
